@use "../Object/Utility" as *;

.pc-background {
  --_background: #F8F7EB;

  display: grid;
  grid-template-columns: 1fr 375px 1fr;
  background: var(--_background);

  @include mq("md") {
    display: block;
  }
}

/* ===============================================
# welcome-banner
=============================================== */
.welcome-banner {
  order: 1;

  @include mq("md") {
    display: none;
  }
}

.welcome-banner__inner {
  position: sticky;
  top: 0;
  padding-block-start: 10px;
  padding-inline: 10px;
  overflow: hidden;
  min-block-size: 1000px;
  block-size: 100svh;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    inline-size: 100%;
    block-size: 51px;
    background: #43B149;
  }
}

.welcome-banner__logo {
  --_duration: .5s;

  inline-size: calc(156.54 * var(--large-fluid-ratio));
  display: block;
  transition: all var(--_duration);

  &:any-link:hover {
    @media (any-hover: hover) {
      opacity: .6;
    }
  }
  
  &:focus-visible {
      opacity: .6;
  }

  img {
    aspect-ratio: 156.54/60;
    object-fit: cover;
  }
}

.welcome-banner__text {
  margin-block-start: 117px;
  inline-size: 300px;
  margin-inline: auto;

  @include mq("lg") {
    inline-size: 100%;
  }
}

.welcome-banner__title {
  inline-size: 100;

  img {
    aspect-ratio: 300/27.13;
    object-fit: cover;
  }
}

.welcome-banner__description {
  padding-block-start: 35px;
  margin-block: var(--leading-trim);
  inline-size: fit-content;
  margin-inline: auto;
  text-align: center;
  line-height: calc(36 / 16);

  @media screen and (max-width: 831px) {
    --_clamp-min: 12;
    --_clamp-max: 16;
    --_min-layout-width: 768;
    --_max-layout-width: 831;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }

  span {
    color: #008C4F;
  }
}

.welcome-banner__graphic {
  padding-block-end: 12px;
  inline-size: 280px;
  z-index: 2;
  margin-left: calc(50% - 280px/2);
  position: absolute;
  bottom: 20px;

  img {
    aspect-ratio: 280/337.3;
    object-fit: cover;
  }
}

/* ===============================================
# pc-navigation
=============================================== */
.pc-navigation {
  order: 3;

  @include mq("md") {
    display: none;
  }
}

.pc-navigation__inner {
  position: sticky;
  top: 0;
  padding-block-start: 80px;
  padding-inline: 10px;
  overflow: hidden;
  min-block-size: 1000px;
  block-size: 100svh;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    inline-size: 100%;
    block-size: 51px;
    background: #43B149;
  }
}

.pc-navigation__list {
  display: grid;
  grid-auto-rows: 1fr;
  row-gap: 10px;
  max-inline-size: 335px;
  margin-inline: auto;
}

.pc-navigation__link {
  --_duration: .5s;

  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  align-items: center;
  padding-block: 18px;
  padding-inline: 20px;
  background: var(--color-white);
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16);
  transition: all var(--_duration);

  @include mq("lg") {
    column-gap: 10px;
    padding-inline: 10px;
  }

  &:any-link:hover {
    @media (any-hover: hover) {
      opacity: .6;
    }
  }
  
  &:focus-visible {
      opacity: .6;
  }
}

.pc-navigation__image {
  inline-size: 24px;
}

.pc-navigation__text {
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--bold);
  letter-spacing: calc(calc(100 / 1000) * 1em);
  line-height: calc(20 / 14);

  @include mq("lg") {
    --_clamp-min: 12;
    --_clamp-max: 14;
    --_min-layout-width: 768;
    --_max-layout-width: 1024;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
  }
}

.pc-navigation__payment {
  margin-block-start: 20px;
  margin-inline: auto;
  max-inline-size: 335px;

  img {
    aspect-ratio: 335/100;
    object-fit: cover;
  }
}

.pc-navigation__payment-link {
  --_duration: .5s;

  transition: all var(--_duration);

  &:any-link:hover {
    @media (any-hover: hover) {
      opacity: .6;
    }
  }
  
  &:focus-visible {
      opacity: .6;
  }
}

.pc-navigation__graphic {
  --_inline-size: 492px;

  margin-block-start: 175px;
  padding-block-end: 12px;
  inline-size: var(--_inline-size);
  position: absolute;
  bottom: 22px;
  z-index: 2;
  margin-left: calc(50% - var(--_inline-size)/2);

  img {
    aspect-ratio: 492/199.13;
    object-fit: cover;
  }
}

/* ===============================================
# main-content
=============================================== */
.main-content {
  order: 2;
  position: relative;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16);
}

/* ===============================================
# header
=============================================== */
.header {
  block-size: 60px;
  background: var(--color-white);
  position: sticky;
  top: 0;
  inline-size: 100%;
  z-index: 1001;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  block-size: 100%;
}

.header__left {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.header__right {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.header__logo {
  inline-size: 60px;

  img {
    aspect-ratio: 60.15/60;
    object-fit: cover;
  }
}

.header__logo-link {
  @include link;
}

.header__eng {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 6px;
  justify-items: center;
  @include link;
}

.header__eng-image {
  inline-size: 30px;

  img {
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.header__eng-text {
  margin-block: var(--leading-trim);
  font-size: calc(10 * var(--rem-ratio));
  font-weight: var(--bold);
}

.header__payment {
  display: flex;
  column-gap: 5px;
}

.header__majica {
  inline-size: 45px;
  @include link;

  img {
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.header__ucs {
  inline-size: 39px;
  @include link;

  img {
    aspect-ratio: 38.92/44.57;
    object-fit: cover;
  }
}

/*========= 途中からハンバーガーメニューに変化するのためのCSS ===============*/
.hamburger {
  --_inline-size: 60px;
  --_block-size: 60px;
  --_gap: 5px;
  --_duration: .5s;

  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--_gap);
  inline-size: var(--_inline-size);
  block-size: var(--_block-size);
  cursor: pointer;
  z-index: 1001;
  background: #008C4F;
}

.active.hamburger {
  position: sticky;
}

.hamburger__line {
  --_inline-size: 30px;

  inline-size: var(--_inline-size);
  block-size: 3px;
  background-color: var(--color-black);
  transition: var(--_duration) ease-in-out;
  translate: var(--_translate, 1);
  background: var(--color-white);
}

.active .hamburger__line {
  --_inline-size: 26px;
}

.active .hamburger__line:nth-child(1) {
  --_translate: 0 calc(var(--_gap) * 2.2);
  transform: rotate(-45deg);
}
.active .hamburger__line:nth-child(2) {
  --_translate: 0 calc(var(--_gap) * 0.1);
  transform: rotate(45deg);
  opacity: 0;
}
.active .hamburger__line:nth-child(3) {
  --_translate: 0 calc(var(--_gap) * -1);
  transform: rotate(45deg);
}

.hamburger__menu {
  margin-block: var(--leading-trim);
  font-size: calc(10 * var(--rem-ratio));
  font-weight: var(--bold);
  letter-spacing: calc(calc(100 / 1000) * 1em);
  color: var(--color-white);
}

.active .hamburger__menu {
  font-size: calc(0 * var(--rem-ratio));

  &::before {
    font-size: calc(10 * var(--rem-ratio));
    letter-spacing: calc(calc(100 / 1000) * 1em);
    content: "close";
  }
}

.headerDrawer {
  --_duration: .6s;
  --_translate: 0 -100%;

  padding-block-start: calc(20px + var(--header-block-size));
  inline-size: 375px;
  block-size: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  transition: var(--_duration);
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  translate: var(--_translate);
  overflow-y: scroll;


  @include mq("md") {
    inline-size: 100%;
  }
}

// JSで操作する時のみ付ける
.headerDrawer.panelactive {
  --_translate: 0 0;

  opacity: 1;
  visibility: visible;
}

.js-ScrollAllowed {
  overflow: hidden
}

.headerDrawer__inner {
  block-size: 100%;
  padding-inline: 20px;
}

.headerDrawer__list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
  row-gap: 10px;
}

.headerDrawer__item {
  display: contents;
}

.headerDrawer__link {  
  display: block grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  column-gap: 15px;
  align-items: center;
  justify-items: start;
  padding-block: 18px;
  padding-inline: 20px;
  color: var(--color-black);
  background: var(--color-green3);
  border-radius: 5px;
  @include link;
}

.headerDrawer__top {
  inline-size: 20px;
}

.headerDrawer__icon {
  inline-size: 24px;
}

.headerDrawer__car {
  inline-size: 32.75px;
}

.headerDrawer__menu {
  align-self: self-start;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
}

.headerDrawer__info {
  margin-block-start: 24px;
  padding-block-end: 41px;
  display: grid;
  grid-auto-rows: 1fr;
  row-gap: 26px;
}

.headerDrawer__info-item {
  display: block grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.7em;
  align-items: center;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);

  &::before {
    --_size: 0.7em;

    content: "";
    block-size: var(--_size);
    aspect-ratio: 1;
    margin-block-start: calc(calc(1lh - var(--_size)) / 4);
    background-color: #008C4F;
    border-radius: 50%;
  }
}

.headerDrawer__info-link {
  text-decoration: underline;
  @include link;
}