@use "../../Object/Utility" as *;


/* ===============================================
# about-menu
=============================================== */
.about-menu {
  margin-block-start: 22px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.about-menu__list {
  padding-block-start: 23px;
  padding-block-end: 20px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: repeat(2,auto);
  column-gap: 7px;
  row-gap: 15.7px;
  background: var(--color-green3);
  border-radius: 5px;
}

.about-menu__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.8em;
  align-items: start;
  font-size: calc(12 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 12);

  &:nth-of-type(n + 7) {
    grid-column: span 2;
  }

  &::before {
    --_size: 0.8em;

    content: "";
    block-size: var(--_size);
    aspect-ratio: 1;
    margin-block: calc(calc(1lh - var(--_size)) / 2);
    background-color: var(--color-green4);
    border-radius: 50%;
  }
}

.about-menu__link {
  text-decoration: underline;
  @include link;
}

/* ===============================================
# about-businessHours
=============================================== */
.about-businessHours {
  margin-block-start: 37px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 0.5s, 0.5s;
}

.about-businessHours__content {
  margin-block-start: 36px;
}

.about-businessHours__table {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  row-gap: 10px;
  justify-items: start;
}

.about-businessHours__table__header {
  inline-size: 100%;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--bold);
  text-align-last: left;
  color: var(--color-green4);
}

.about-businessHours__table__cell {
  inline-size: 100%;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
}

.about-businessHours__note {
  margin-block: var(--leading-trim);
  padding-block-start: 21px;
  font-size: calc(14 * var(--rem-ratio));
  line-height: calc(20 / 14);
}

/* ===============================================
# service-counter
=============================================== */
.about-serviceCounter {
  margin-block-start: 72px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 1s, 1s;
}

.about-serviceCounter__content {
  margin-block-start: 32px;
}

.about-serviceCounter__image {
  img {
    aspect-ratio: 335/250;
    object-fit: cover;
  }
}

.about-serviceCounter__location {
  margin-block: var(--leading-trim);
  padding-block-start: 20px;
  display: inline-block;
  color: var(--color-green4);
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
  text-decoration: underline;
  @include link;
}

.about-serviceCounter__list {
  margin-block-start: 29px;
  display: grid;
  grid-template-columns: repeat(2,auto);
  column-gap: 23px;
  row-gap: 16px;
}

.about-serviceCounter__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.714em;
  align-items: start;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);

  &::before {
    --_size: 0.714em;

    content: "";
    block-size: var(--_size);
    aspect-ratio: 1;
    margin-block: calc(calc(1lh - var(--_size)) / 2);
    background-color: var(--color-green4);
    border-radius: 50%;
  }
}

/* ===============================================
# about-postalCounter
=============================================== */
.about-postalCounter {
  margin-block-start: 70px;
}

.about-postalCounter__content {
  margin-block-start: 32px;
}

.about-postalCounter__location {
  display: inline-block;
  color: var(--color-green4);
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
  text-decoration: underline;
  @include link;
}

.about-postalCounter__list {
  margin-block-start: 25px;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 1em;
  font-size: calc(14 * var(--rem-ratio));
}

.about-postalCounter__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.714em;
  align-items: start;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);

  &::before {
    --_size: 0.714em;

    content: "";
    block-size: var(--_size);
    aspect-ratio: 1;
    margin-block: calc(calc(1lh - var(--_size)) / 2);
    background-color: var(--color-green4);
    border-radius: 50%;
  }
}

/* ===============================================
# about-atm
=============================================== */
.about-atm {
  margin-block-start: 73px;
}

.about-atm__content {
  margin-block-start: 32px;
}

.about-atm__table1 {
  margin-block-start: 5px;

  .infoTable__header {
    white-space: nowrap;
  }
  .infoTable__cell {
    padding-inline-start: 34px;
  }
}

.about-atm__table2 {
  margin-block-start: 5px;

  .infoTable__cell {
    padding-inline-start: 68px;
  }
}

.about-atm__location {
  color: var(--color-green4);
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
  text-decoration: underline;
  display: inline-block;
  @include link;

  &:nth-of-type(2) {
    margin-block-start: 30px;
  }
}

.about-atm__footer {
  margin-block-start: 30px;
}

.about-atm__note {
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
  text-wrap: nowrap;

  @include mq("sp") {
    text-wrap: wrap;
  }

  &:not(:first-child) {
    text-wrap: wrap;
  }
}

/* ===============================================
# about-naturalPureWater
=============================================== */
.about-naturalPureWater {
  margin-block-start: 93px;

  .infoTable__cell {
    padding-inline-start: 30px;
  }

}

.about-naturalPureWater__content {
  margin-block-start: 32px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
}

.about-naturalPureWater__image {
  inline-size: calc(200 * var(--large-fluid-ratio));
  margin-inline: auto;

  @include mq("xl") {
    inline-size: 200px;
  }

  @include mq("md") {
    inline-size: calc(200 * var(--min-fluid-ratio));
  }

  img {
    aspect-ratio: 200/300;
    object-fit: cover;
  }
}

.about-naturalPureWater__location {
  margin-block: var(--leading-trim);
  padding-block-start: 20px;
  color: var(--color-green4);
  text-decoration: underline;
  display: inline-block;
  @include link;
}

.about-naturalPureWater__description {
  margin-block: var(--leading-trim);
  padding-block-start: 25px;
  padding-block-end: 6px;
}

.about-naturalPureWater__table {
  .infoTable__cell {
    display: grid;
    align-items: center;
  }
}

/* ===============================================
# aed
=============================================== */
.about-aed {
  margin-block-start: 67px;
}

.about-aed__content {
  margin-block-start: 32px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
}

.about-aed__image {
  inline-size: calc(200 * var(--large-fluid-ratio));
  margin-inline: auto;

  @include mq("xl") {
    inline-size: 200px;
  }

  @include mq("md") {
    inline-size: calc(200 * var(--min-fluid-ratio));
  }

  img {
    aspect-ratio: 200/184.35;
    object-fit: cover;
  }
}

.about-aed__location {
  margin-block: var(--leading-trim);
  padding-block-start: 20px;
  color: var(--color-green4);
  text-decoration: underline;
  display: inline-block;
  @include link;
}

.about-aed__description {
  margin-block: var(--leading-trim);
  padding-block-start: 25px;
}

/* ===============================================
# recycling station
=============================================== */
.about-recyclingStation {
  margin-block-start: 73px;
}

.about-recyclingStation__content {
  margin-block-start: 32px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
}

.about-recyclingStation__image {
  img {
    aspect-ratio: 335/250;
    object-fit: cover;
  }
}

.about-recyclingStation__location {
  margin-block: var(--leading-trim);
  padding-block-start: 20px;
  color: var(--color-green4);
  text-decoration: underline;
  display: inline-block;
  @include link;
}

.about-recyclingStation__description {
  margin-block: var(--leading-trim);
  padding-block-start: 25px;
}

/* ===============================================
# Nピア
=============================================== */
.about-npia {
  margin-block-start: 73px;

  .infoTable__cell {
    padding-inline-start: 53px;
  }
}

.about-npia__content {
  margin-block-start: 32px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
}

.about-npia__image {
  img {
    aspect-ratio: 335/250;
    object-fit: cover;
  }
}

.about-npia__location {
  margin-block: var(--leading-trim);
  padding-block-start: 20px;
  color: var(--color-green4);
  text-decoration: underline;
  display: inline-block;
  @include link;
}

.about-npia__description {
  margin-block: var(--leading-trim);
  padding-block-start: 25px;
}

.about-npia__table {
  margin-block-start: 6px;
}