@use "../../Object/Utility" as *;


.event-header__eng {
  span {
    margin-inline-start: 0;
  }
}

.event-content {
  margin-block-start: 32px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;

  .event-card {
    margin-block-end: 36px;
  }
}

/* ===============================================
# category
=============================================== */
.event-category {
  margin-block-start: 60px;

  .accordion__content-inner {
    padding-block-end: 20px;
  }

}

/* ===============================================
# タクソノミー一覧
=============================================== */
.taxEvent-content {
  margin-block-start: 22px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;

  .event-card {
    margin-block-start: 20px;
    margin-block-end: 36px;
  }
}

.event-card__not-text {
  margin-block-start: 48px;
  text-align: center;
}