@use "../../Object/Utility" as *;

/* ===============================================
# genre-nav
=============================================== */
.shop-guide-genre-nav {
  
  .genre-nav__all {
    margin-block-start: 24px;
    display: block;
    inline-size: fit-content;
    margin-inline: auto 0;
    font-size: calc(14 * var(--rem-ratio));
    font-weight: var(--regular);
    text-decoration: underline;
    @include link;
  }
}

/* ===============================================
# .shop-guide-content
=============================================== */
.shop-guide-content {
  margin-block-start: 45px;
}

.shop-guide-content__term-title {
  margin-block-start: 45px;
  font-size: calc(12 * var(--rem-ratio));
  font-weight: var(--regular);
}

/* ===============================================
# sns
=============================================== */
.shop-guide-sns {
  margin-block-start: 61px;
  padding-block-end: 42px;
}