@use "../../Object/Utility" as *;

/* ===============================================
# floor-menu
=============================================== */
.floor-menu {
  margin-block-start: 22px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.floor-menu__list {
  margin-block-start: 22px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 17px;
  max-inline-size: 500px;
}

.floor-menu__link {
  padding-block: 10px;
  padding-inline: 10px;
  block-size: 100%;
  display: grid;
  place-items: center;
  background: var(--color-green3);
  border-radius: 5px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  @include link;
}

/* ===============================================
# floor-map
=============================================== */
.floor-map {
  margin-block-start: 27px;
}

.floor-map__image {
  margin-block-start: 32px;
  margin-inline: auto;
  max-inline-size: 600px;

  img {
    aspect-ratio: 335/251;
    object-fit: cover;
  }
}

.floor-map__pdf {
  --_border-color: var(--color-green4);

  margin-block-start: 20px;
  margin-inline: auto;
  padding-inline: 10px;
  inline-size: 140px;
  block-size: 40px;
  display: grid;
  place-items: center;
  border: 2px solid var(--_border-color);
  border-radius: 30px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  color: var(--color-green4);
  @include link;
}

.floor-basement {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 0.5s, 0.5s;
}

/* ===============================================
# アコーディオン部分
=============================================== */
.floor-map {

  .accordion {
    margin-block-start: 20px;
  }
  
  .shop-guide-card {
    margin-block-start: 0;
  }

  .shop-guide-card__content {
    display: block;
  }
}

/* ===============================================
# 1階、2階のタイトル上の余白
=============================================== */
.floor-first,
.floor-second {
  margin-block-start: 67px;
}

/* ===============================================
# sns
=============================================== */
.floor-sns {
  margin-block-start: 60px;
  padding-block-end: 42px;
}