@use "../../Object/Utility" as *;

/* ===============================================
# fv
=============================================== */
.fv {
  padding-block-start: var(--header-block-size);
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  
  .splide__slide {
    img {
      aspect-ratio: 375/250;
      object-fit: cover;
    }
  }

  // サムネイル
  .splide--loop {
    margin-block-start: 10px;
    position: relative;
    inline-size: 200px;
    margin-inline: auto;

    @include mq("md") {
      margin-block-start: 20px;
      inline-size: 380px;
    }

    @media screen and (max-width: 500px) {
      margin-block-start: 10px;
      inline-size: 200px;
    }
  }

  .splide-sub {
    margin-inline: auto;
    inline-size: 100%;
    position: relative;
  }
  
  .splide-sub__list {
    --_gap: 10px;
    
    column-gap: var(--_gap);
    position: relative;
    left: -10px;
  }

  .splide-sub__item {
    --_duration: .5s;

    cursor: pointer;
    transition: all var(--_duration);

    &:hover {
      @media (any-hover: hover) {
        opacity: .6;
      }
    }
    
    &:focus-visible {
      opacity: .6;
    }
  }
}

/* ===============================================
# menu
=============================================== */
.menu {
  margin-block-start: 20px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 0.5s, 0.5s;
}

.menu__list {
  position: relative;
  display: block grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  max-inline-size: 600px;
  margin-inline: auto;
}

.menu__link {
  --_border-color: #EEEEEE;

  padding-block-start: 10px;
  padding-block-end: 13px;
  display: block grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  row-gap: 16px;
  justify-items: center;
  border-block-end: 1px solid var(--_border-color);
  inline-size: 100%;
  @include link;
}

.menu__item {
  display: contents;

  &:nth-child(n+4) .menu__link {
    border-block-end: 0;
    padding-block-start: 14px;
  }

  &:nth-of-type(2) .menu__link,
  &:nth-of-type(5) .menu__link {
    border-inline: 1px solid var(--_border-color);
  }
}


.menu__image {
  inline-size: 50px;
  align-self: end;
}

.menu__text {
  margin-block: var(--leading-trim);
  font-size: calc(11 * var(--rem-ratio));
  letter-spacing: calc(calc(100 / 1000) * 1em);
  font-weight: var(--bold);
  line-height: calc(20 / 11);
}

/* ===============================================
# banner
=============================================== */
.banner {
  margin-block-start: 20px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 1s, 1s;

  .splide {
    margin-inline: auto;
    max-inline-size: 600px;
  }

  .splide__arrow--prev,
  .splide__arrow--next {
    --_inline-size: 45px;
    --_block-size: 45px;

    top: 47%;
  }
  
  .splide__arrow--prev {
    left: -28px;
  }
  
  .splide__arrow--next {
    right: -28px;
  }
  
  .splide__list {
    column-gap: 10px;
    position: relative;
    left: -10px;
  }
  
  .splide__slide {
    img {
      aspect-ratio: 335/100;
      object-fit: cover;
    }
  }

}

/* ===============================================
# special-recommend
=============================================== */
.special-recommend {
  margin-block-start: 70px;
}

.special-recommend__movies {
  margin-inline: auto;
  max-inline-size: 500px;
}

.special-recommend__movie {
  margin-block-start: 22px;
  padding-top: 56.25%;
  position: relative;

  iframe {
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* ===============================================
# info
=============================================== */
.info {
  margin-block-start: 70px;
}

.info__title {
  margin-block-end: 2px;
}

.info__button-wrapper {
  display: grid;
  place-items: center;
  margin-block-start: 20px;
  margin-inline: auto;

  @include mq("md") {
    margin-block-start: calc(20 * var(--min-fluid-ratio));
  }
}

/* ===============================================
# event
=============================================== */
.event {
  margin-block-start: 67px;
}

.event-card {
  margin-block-start: 20px;
}

.event__button-wrapper {
  margin-block-start: 38px;
  margin-inline: auto;
  display: grid;
  place-items: center;

  @include mq("md") {
    margin-block-start: calc(38 * var(--min-fluid-ratio));
  }
}

/* ===============================================
# shop-news
=============================================== */
.shop-news {
  margin-block-start: 70px;
}

.shop-news__button-wrapper {
  margin-block-start: 36px;

  margin-inline: auto;
  display: grid;
  place-items: center;

  @include mq("md") {
    margin-block-start: calc(36 * var(--min-fluid-ratio));
  }
}

/* ===============================================
# recommend
=============================================== */
.recommend {
  margin-block-start: 70px;
}
.recommend__item {
  margin-block-start: 20px;
  @include mq("md") {
    margin-block-start: calc(20 * var(--min-fluid-ratio));
  }

  &:not(:first-child) {
    margin-block-start: 40px;
    @include mq("md") {
      margin-block-start: calc(40 * var(--min-fluid-ratio));
    }
  }
}

.recommend__image {
  border: 1px solid #CCCCCC;
  display: block;
  aspect-ratio: 335/240;
  img {
    object-fit: contain;
    block-size: 100%;
  }
}

.recommend__period {
  margin-block-start: 10px;
  padding-block: 4px;
  padding-inline: 31px;
  inline-size: fit-content;
  margin-inline: auto;
  display: grid;
  place-items: center;
  background: #EEEEEE;
  border-radius: 30px;
  font-weight: var(--bold);

  @include mq("md") {
    --_clamp-min: 16;
    --_clamp-max: 26;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    margin-block-start: calc(10 * var(--min-fluid-ratio));
    padding-block: calc(4 * var(--min-fluid-ratio));
    padding-inline: calc(31 * var(--min-fluid-ratio));
  }
}

.recommend__name {
  margin-block: var(--leading-trim);
  padding-block-start: 13px;
  inline-size: fit-content;
  margin-inline: auto;
  font-size: calc(12 * var(--rem-ratio));
  font-weight: var(--bold);
  color: var(--color-green4);

  @include mq("md") {
    --_clamp-min: 12;
    --_clamp-max: 20;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    padding-block-start: calc(13 * var(--min-fluid-ratio));
  }
}

.recommend__link {
  --_border-color: var(--color-green4);

  margin-block-start: 12px;
  margin-inline: auto;
  padding-block: 8px;
  inline-size: 158px;
  display: grid;
  align-items: center;
  justify-items: start;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  border: 2px solid var(--_border-color);
  border-radius: 30px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--bold);
  color: var(--color-green4);

  @include mq("md") {
    --_clamp-min: 14;
    --_clamp-max: 24;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    margin-block-start: calc(12 * var(--min-fluid-ratio));
    padding-block: calc(8 * var(--min-fluid-ratio));
    inline-size: calc(158 * var(--min-fluid-ratio));
    column-gap: calc(5 * var(--min-fluid-ratio));
    border-radius: calc(30 * var(--min-fluid-ratio));
  }

  &::before {
    content: "";
    inline-size: 18px;
    block-size: 20px;
    justify-self: end;
    background-image: url(../../assets/images/common/icon/pdf.png);
    @include supports(background-image, url(../../assets/images//common/icon/pdf.webp));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include mq("md") {
      inline-size: calc(18 * var(--min-fluid-ratio));
      block-size: calc(20 * var(--min-fluid-ratio));
    }
  }
}

/* ===============================================
# sns
=============================================== */
.sns {
  margin-block-start: 70px;
  padding-block-end: 42px;
}