@use "../../Object/Utility" as *;


.singleRecruit-job-listing {
  margin-block-start: 22px;
}

.singleRecruit-job-listing__header {
  display: grid;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.singleRecruit-job-listing__occupation {
  margin-block-start: 15px;
  color: var(--color-green4);
  font-size: calc(12 * var(--rem-ratio));
  font-weight: var(--bold);
  order: 2;
}

.singleRecruit-job-listing__intro {
  margin-block-start: 20px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  order: 4;
  white-space: normal;
}

.singleRecruit-job-listing__shop-name {
  color: var(--color-green4);
  font-size: calc(24 * var(--rem-ratio));
  font-weight: var(--bold);
  order: 1;
}

.singleRecruit-store-info__logo {
  margin-block-start: 22px;
  margin-inline: auto;
  justify-self: center;
  max-inline-size: 140px;
  order: 3;
}

/* ===============================================
# 表
=============================================== */
.singleRecruit-job-listing__details {
  margin-block-start: 5px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation-delay: 0.5s, 0.5s;
}

/* ===============================================
# このお仕事のこだわり条件
=============================================== */
.singleRecruit-conditions {
  margin-block-start: 67px;
}

.genre-conditions__list {
  margin-block-start: 32px;
}

/* ===============================================
# もどるボタン
=============================================== */
.singleShopNews-store-info__button-wrapper {
  margin-block-start: 33px;
}

.button-wrapper + .returnButton {
  margin-block-start: 40px;
}
.returnButton__btn {
  inline-size: 140px;

  @include mq("md") {
    --_clamp-min: 14;
    --_clamp-max: 20;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    inline-size: calc(140 * var(--min-fluid-ratio));
    padding-block: calc(9 * var(--min-fluid-ratio));
    padding-inline: calc(9 * var(--min-fluid-ratio));
  }
}

/* ===============================================
# ショップ情報
=============================================== */
