@use "../../Object/Utility" as *;


/* ===============================================
#  ヘッダーが上から出現
=============================================== */
.js-fixed {
  --_translate: 0 -100%;
  --_duration: .5s;

  position: fixed;
  top: 0;
  z-index: 1000;
  visibility: hidden;
  translate: var(--_translate);
  transition: var(--_duration);

  &.js-show {
    --_translate: 0;
  
    visibility: visible;
  }
}

/* ===============================================
# フワッと出現
=============================================== */

/* ===============================================
# フェードのSP設定
=============================================== */
.js-fadeIn-sp,
.js-fadeUp-sp,
.js-fadeDown-sp,
.js-fadeLeft-sp,
.js-fadeRight-sp {
  @include mq("md") {
    opacity: 0;
  }

  &.js-show {
    animation: none;
    @include mq("md") {
      animation: fadeUp 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
      animation-delay: 0s;
    }
  }
}

/* ===============================================
# フェードイン
=============================================== */
.js-fadeIn,
.js-fadeIn0ms,
.js-fadeIn300ms,
.js-fadeIn600ms,
.js-fadeIn900ms,
.js-fadeIn-sp,
.js-fadeIn-sp0ms,
.js-fadeIn-sp300ms,
.js-fadeIn-sp600ms,
.js-fadeIn-sp900ms {
  opacity: 0;
  &.js-show {
    animation: fadeIn 1.5s ease forwards, opacity 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.5s, 0.5s; // ここはそれぞれの遅延に応じて変更
  }
}

.js-fadeIn300ms {
  &.js-show {
    animation-delay: 0.5s, 0.5s; // ここはそれぞれの遅延に応じて変更
    
    @include mq("md") {
      animation-delay: 0s;
    }
  }
}

.js-fadeIn600ms {
  &.js-show {
    animation-delay: 1s, 1s; // ここはそれぞれの遅延に応じて変更

    @include mq("md") {
      animation-delay: 0s;
    }
  }
}

.js-fadeIn900ms {
  &.js-show {
    animation-delay: 1.5s, 1.5s; // ここはそれぞれの遅延に応じて変更

    @include mq("md") {
      animation-delay: 0s;
    }
  }
}

.js-fadeIn-sp300ms {
  @include mq("md") {
    &.js-show {
      animation-delay: 0.5s, 0.5s; // ここはそれぞれの遅延に応じて変更
    }
  }
}
.js-fadeIn-sp600ms {
  @include mq("md") {
    &.js-show {
      animation-delay: 1s, 1s; // ここはそれぞれの遅延に応じて変更
    }
  }
}
.js-fadeIn-sp300ms {
  @include mq("md") {
    &.js-show {
      animation-delay: 1.5s, 1.5s; // ここはそれぞれの遅延に応じて変更
    }
  }
}

/* ===============================================
# フェードのアニメーション定義
=============================================== */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}