@use "../../Object/Utility" as *;

.more {
  --_base-size: 140px;
  --_foreground: #fff;
  --_background: var(--color-green4);
  --_duration: 0.5s;
  --_padding: calc(24 * 1em / 16);
  
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: calc(8 * 1em / 16);
  align-items: center;
  inline-size: min(var(--_base-size), 100%);
  padding-block: 10px;
  padding-inline: 10px;
  border-radius: 30px;
  background-color: color-mix(in sRGB, var(--_background) var(--_opacity, 100%), transparent);
  color: var(--_foreground);
  transition: var(--_duration);
  font-size: calc(14 * var(--rem-ratio));
  letter-spacing: calc(calc(100 / 1000) * 1em);
  font-weight: var(--bold);
  
  @include mq("md") {
    --_base-size: calc(140 * var(--min-fluid-ratio));
    --_clamp-min: 14;
    --_clamp-max: 20;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);

    padding-block: calc(10 * var(--min-fluid-ratio));
    padding-inline: calc(10 * var(--min-fluid-ratio));
  }

  &::before {
    content: "";
  }

  &::after {
    content: "";
    justify-self: end;
    inline-size: calc(6 * 1em / 16);
    aspect-ratio: 1;
    border-block-start: 1px solid;
    border-inline-end: 1px solid;
    rotate: 45deg;
    translate: var(--_translate);
    transition: translate var(--_duration);
  }

  &:any-link:hover {
    @media (any-hover: hover) {
      --_opacity: 60%;
      --_translate: 4px;
    }
  }
  
  &:focus-visible {
    --_opacity: 60%;
    --_translate: 4px;
  }
}

.button-wrapper {
  display: grid;
  place-items: center;
}

/* ===============================================
# TOPに戻る
=============================================== */
.topButton {
  margin-block-start: 32px;
  display: grid;
  place-items: center;
}

.topButton__btn {
  --_border-color: var(--color-green4);

  padding-block: 8px;
  padding-inline: 24px;
  display: inline grid;
  column-gap: 0.3em;
  justify-items: center;
  background: var(--color-white);
  color: var(--color-green4);
  border: 2px solid var(--_border-color);
  border-radius: 30px;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  @include link;
}