@use "../../Object/Utility" as *;

.main {
  background: var(--color-white);

  @include mq("md") {
    inline-size: 100%;
  }
}

.inner {
  --_padding: 20px;
  
  box-sizing: initial;
  padding-inline: var(--_padding);
}

.inner-shrink {
  --_inline-size: calc(1100 * var(--max-fluid-ratio));
  --_padding: 30px;
  
  @include mq("xl") {
    --_inline-size: 1100px;
  }

  
  box-sizing: initial;
  max-inline-size: var(--_inline-size);
  padding-inline: var(--_padding);
  margin-inline: auto;
}