@use "../../Object/Utility" as *;

.entry-icon-new {
  position: absolute;
  top: -10px;
  left: -10px;
  inline-size: 40px;
  block-size: 40px;
  display: grid;
  place-items: center;
  background: #F7ED12;
  color: var(--color-green4);
  border-radius: 50%;
  font-size: calc(11 * var(--rem-ratio));
  font-weight: var(--bold);
  letter-spacing: calc(calc(100 / 1000) * 1em);

  @include mq("md") {
    --_clamp-min: 11;
    --_clamp-max: 22;
    --_clamp: clamp(var(--_clamp-min) * var(--rem-ratio), (var(--_clamp-min) - (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * var(--_min-layout-width)) * var(--rem-ratio) + (var(--_clamp-max) - var(--_clamp-min)) / (var(--_max-layout-width) - var(--_min-layout-width)) * 100dvi, var(--_clamp-max) * var(--rem-ratio));
    
    font-size: var(--_clamp);
    inline-size: calc(40 * var(--min-fluid-ratio));
    block-size: calc(40 * var(--min-fluid-ratio));
  }
}

/* ===============================================
# sns
=============================================== */
.sns {
  margin-block-start: 60px;
  padding-block-end: 42px;
}

.sns__content {
  margin-block-start: 22px;
}

.sns-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-item {
  display: contents;

  &:nth-of-type(2) .sns-link {
    --_border-color: #EEEEEE;

    border-inline: 1px solid var(--_border-color);
  }
}

.sns-link {
  padding-block: 5px;
  padding-inline: 26px;
  @include link;

  @include mq("md") {
    padding-block: calc(5 * var(--min-fluid-ratio));
    padding-inline: calc(26 * var(--min-fluid-ratio));
  }

  img {
    inline-size: 30px;
    aspect-ratio: 1;
    object-fit: cover;

    @include mq("md") {
      inline-size: calc(30 * var(--min-fluid-ratio));
    }
  }
}

/* ===============================================
# 投稿が存在しない場合のテキスト
=============================================== */
.not-text {
  inline-size: fit-content;
  margin-inline: auto;
  font-size: calc(12 * var(--rem-ratio));
  font-weight: var(--bold);
  line-height: calc(26 / 12);
  color: var(--color-green4);
  text-align: center;
}

/* ===============================================
# スライダーのページネーション
=============================================== */
  .splide__pagination {
    column-gap: 30px;
  }

  .splide__pagination__page {
    background: #CCCCCC;
    border-radius: 50%;
    display: inline-block;
    inline-size: 16px;
    block-size: 16px;
    position: relative;
    transition: transform .2s linear;

    &.is-active {
      background: var(--color-green4);
    }
  }

  /* ===============================================
  # テーブル
  =============================================== */
.infoTable {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: calc(14 * var(--rem-ratio));
  font-weight: var(--regular);
  line-height: calc(20 / 14);
}

.infoTable__header,
.infoTable__cell {
  background-image: radial-gradient(circle, #cccccc 1px, transparent 1px);
  background-position: left -2px bottom;
  background-repeat: repeat-x;
  background-size: 8px 2px;
  padding-block-start: 20px;
  padding-block-end: 26px;
}

.infoTable__header {
  display: grid;
  align-items: start;
  text-align-last: left;
  font-weight: var(--regular);
}

.infoTable__cell {
  padding-inline-start: 43px;
  padding-inline-end: 10px;
  background-position: left -4px bottom;
}

.infoTable__link {
  color: var(--color-green4);
  text-decoration: underline;
  @include link;
}

/* ===============================================
# イベント、ショップニュースのタクソノミー一覧のタームタイトル
=============================================== */
.term-title {
  font-size: calc(12 * var(--rem-ratio));

  span {
    --_border-color: var(--color-green4);

    margin-inline-end: 0.3em;
    padding-block: 8px;
    padding-inline: 18px;
    display: inline grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.3em;
    flex-shrink: 0;
    background: var(--color-white);
    color: var(--color-green4);
    border: 2px solid var(--_border-color);
    border-radius: 30px;
    font-size: calc(14 * var(--rem-ratio));
    font-weight: var(--regular);
    @include link;

    &::before {
      content: "#";
    }
  }
}

/* ===============================================
# ショップガイド、ショップニュース詳細ページのSpecial Recommend
=============================================== */
.single-specialRecommend {
  margin-block-start: 70px;
}

.single-specialRecommend__movies {
  max-inline-size: 500px;
  margin-inline: auto;
}

.single-specialRecommend__text {
  margin-block: var(--leading-trim);
  padding-block-start: 29px;
  font-size: calc(24 * var(--rem-ratio));
  font-weight: var(--bold);
  line-height: calc(26 / 24);
  color: var(--color-green4);
}

.single-specialRecommend__movie {
  margin-block-start: 14px;
  padding-top: 56.25%;
  position: relative;
  
  iframe {
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* ===============================================
# 求人情報、ショップニュース詳細ページのショップ情報
=============================================== */
.singleShopNews-store-info {
  margin-block-start: 70px;

  .card__label {
    margin-inline-end: 1em;
  }
}

.single-store-info__logo {
  margin-block-start: 20px;
  margin-inline: auto;
  max-inline-size: 160px;
}

.single-store-info__store-name {
  margin-block-start: 27px;
  margin-block-end: 4px;
  font-size: calc(24 * var(--rem-ratio));
  font-weight: var(--bold);
  line-height: calc(26 / 24);
  color: var(--color-green4);
}

.single-store-info__payment {
  margin-block-start: 22px;
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.single-store-info__majica {
  inline-size: 30px;

  img {
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.single-store-info__ucs {
  inline-size: 26px;

  img {
    aspect-ratio: 25.82/29.57;
    object-fit: cover;
  }
}

.single-store-info__button-wrapper {
  margin-block-start: 33px;
}