@use "../../Object/Utility" as *;


.title__eng {
  display: block;
  color: var(--color-green4);
  font-size: calc(24 * var(--rem-ratio));
  font-weight: var(--bold);
  letter-spacing: calc(calc(100 / 1000) * 1em);
  line-height: calc(26 / 24);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -12px;
    inline-size: 100%;
    block-size: 4px;
    background: linear-gradient(
      to right, 
      var(--color-green4) 0%, var(--color-green4) 5.97%,
      var(--color-green) 5.97%, var(--color-green) 11.94%,
      var(--color-green2) 11.94%, var(--color-green2) 17.91%,
      #EEEEEE 17.91%, #EEEEEE 100%
    );
  }

  &::first-letter {
    color: var(--color-green);
  }

  span {
    margin-inline-start: 0.5em;
    display: inline-block;
    
    &::first-letter {
      color: var(--color-green2);
    }
  }
}

.title__jp {
  position: relative;
  top: 3px;
  font-size: calc(12 * var(--rem-ratio));
  font-weight: var(--regular);
}

/* ===============================================
# 固定ページh1
=============================================== */
.page-header {
  padding-block-start: calc(30px + var(--header-block-size));
}

.page-header__eng {
  display: block;
  color: var(--color-green4);
  font-size: calc(24 * var(--rem-ratio));
  font-weight: var(--bold);
  letter-spacing: calc(calc(100 / 1000) * 1em);
  line-height: calc(26 / 24);

  &::first-letter {
    color: var(--color-green);
  }

  span {
    margin-inline-start: 0.5em;
    display: inline-block;
    
    &::first-letter {
      color: var(--color-green2);
    }
  }
}

.page-header__jp {
  margin-block-start: 4px;
  display: block;
  font-size: calc(12 * var(--rem-ratio));
  font-weight: var(--regular);
}

/* ===============================================
# 固定ページh2
=============================================== */
.page-title {
  margin-block: var(--leading-trim);
  position: relative;
  color: var(--color-green4);
  font-size: calc(24 * var(--rem-ratio));
  font-weight: var(--bold);
  letter-spacing: calc(calc(100 / 1000) * 1em);

  &::before {
    content: '';
    position: absolute;
    bottom: -8px;
    inline-size: 100%;
    block-size: 4px;
    background: linear-gradient(
      to right, 
      var(--color-green4) 0%, var(--color-green4) 5.97%,
      var(--color-green) 5.97%, var(--color-green) 11.94%,
      var(--color-green2) 11.94%, var(--color-green2) 17.91%,
      #EEEEEE 17.91%, #EEEEEE 100%
    );
  }
}